 .imageContainer {
     position: relative;
     width: 15vw;
     height: 15vh;
 }

 .imageContainer img {
     object-fit: cover;
 }

  .imagePosition {
     width: 100%;
     height: 100%;
     bottom: 0;
     left: 0;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
 }

  .imagePosition:nth-of-type(1) .imageContainer {
     top: -47vh;
     left: 8vw;
     width: 25vw;
 }

  .imagePosition:nth-of-type(2) .imageContainer {
     top: 4vh;
     left: -23vw;
     width: 26vw;
 }

  .imagePosition:nth-of-type(3) .imageContainer {
     top: 5vh;
     left: 8vw;
     width: 24vw;
 }

  .imagePosition:nth-of-type(4) .imageContainer {
     top: -47vh;
     left: -19vw;
     width: 18vw;
 }