@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/startGallery.css';
@import './styles/mainPage.css';
@import './styles/gallery.css';
@import './styles/immComponent.css';

html,body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Forum", "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  width: 100%;
}

.serif {
   font-family: "Playfair Display", serif;
}

.sunserif {
   font-family: "Roboto", sans-serif;
}

.video {
  pointer-events: none;
}
video::-webkit-media-controls-panel {
display: none !important;
opacity: 1 !important;}

video::-webkit-media-controls-start-playback-button {
    display: none;
}